@media(max-width: 1000px){
    

.top-wrapper{
    text-align: center;
 }
    .menu-icon{
        display: none;
    }   
}
@media(max-width: 640px){
    

footer{
    text-align: center;
}
.top-wrapper{
    padding-top: 150px;
}
.menu-icon {
    display: block;
  }
.header-right {
    display: none;
  }
}